# build output
dist/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dev_server.log

# environment variables
.env
.env.production
.env.local

# astro
.astro/

# misc
.DS_Store
# Local Netlify folder
.netlify
.aider*
