@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./fonts.css";

.header-image {
    font-size: 2vw;
}

.header-image h1 {
    font-size: 6em;
    margin-bottom: -0.3em;
    @apply text-on-light;
}

@media screen and (orientation: portrait) {
    .header-image h1 {
        margin-left: 15vw;
    }
}

.header-image h2 {
    font-size: 2em;
    text-align: right;
    @apply font-sans-serif;
    @apply text-dark;
    margin-bottom: .5em;
}

@media screen and (orientation: portrait) {
    .header-image h2 {
        font-size: 3em;
        margin-right: 15vw;
    }
}

.header-image p {
    font-size: 1em;
    @apply text-dark;
}

@media screen and (orientation: portrait) {
    .header-image p {
        font-size: 2em;
        line-height: 2em;
    }
}

.header-image a {
    text-decoration: underline;
}
