@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./fonts.css";

.header-image {
    font-size: 2vw;
}

.header-image h1 {
    font-size: 6em;
}

.header-image h2 {
    font-size: 2.5em;
    text-align: right;
    @apply font-sans-serif;
    @apply text-on-dark;
    margin-bottom: 1em;
}

.header-image p {
    font-size: 1.3em;
    @apply text-on-dark;
    line-height: 2em;
}

.header-image a {
    text-decoration: underline;
}
